{% extends 'base.html' %}

{% block content %}
<div class="row mt-n4 mb-3" style="font-size: 15px; background-color: #001b40; color: white;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true"">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="quotation-tab" href="{% url 'buyer_letter_of_credit_list' %}" style="color: #d9d9d9; text-decoration: none;">L.Cs List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="quotation-tab" href="{% url 'buyer_letter_of_credit_list' %}" style="color: #d9d9d9; text-decoration: none;">Bill of lading</a>
        </li>
        
    </ul>
    <span class="nav-item ml-auto"> <!-- Apply ml-auto class here -->
        <div class="mx-2 mt-2 font-italic"> <!-- Wrap the Control Centers tab in a div -->
           Hello, {{ request.user.first_name }} {{ request.user.last_name }}
        </div>
    </span>
    
</div>


        <h4>Quotations</h4>

    {% if quotations %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Seller</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Status</th>
                    <th>Confirmation</th>
                    {% if not quotations.0.confirm and not quotations.0.rejected %}
                        <th>Actions</th>
                    {% endif %}
                    <th>View PDF</th>
                </tr>
            </thead>
            <tbody>
                {% for quotation in quotations %}
                    <tr>
                        <td>{{ quotation.seller }}</td>
                        <td>{{ quotation.product }}</td>
                        <td>{{ quotation.quantity }}</td>
                        <td>{{ quotation.unit_price }}</td>
                        <td>{{ quotation.status }}</td>
                        <td>
                            {% if quotation.confirm %}
                                <span class="btn btn-sm btn-success">Confirmed</span>
                            {% elif quotation.rejected %}
                                <span class="btn btn-sm btn-danger">Rejected</span>
                            {% else %}
                                <span class="btn btn-sm btn-warning">Not Confirmed</span>
                            {% endif %}
                        </td>
                        {% if not quotation.confirm and not quotation.rejected %}
                            <td>
                                <form action="{% url 'confirm_quotation' quotation.id %}" method="post" style="margin-right: 10px;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm mx-1" style="background-color: #001b42; color: wheat;">Confirm</button>
                                </form>
                                <form action="{% url 'reject_quotation' quotation.id %}" method="post">
                                    {% csrf_token %}
                                    <div style="display: flex; align-items: center;">
                                        <button type="submit" class="btn btn-sm btn-danger mx-1">Reject</button>
                                        <textarea name="explanation" placeholder="Explanation for rejection" style="flex-grow: 1; margin-left: 10px;" required></textarea>
                                    </div>
                                </form>
                            </td>
                        {% endif %}
                        <td style="font-size: 14px;">
                            <a href="{{ quotation.pdf_url }}">View PDF</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fas fa-exclamation-circle"></i> Quotation list is empty.
        </div>
    {% endif %}
{% endblock %}
