{% extends 'base.html' %}
{% load static %}
{% block title %} Collateral Managers List {% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h4 class="mb-4" style="color: #777;">Collateral Managers List</h4>
    <a href="{% url 'bank_dashboard' %}" class="text-decoration-none text-secondary">
        <span class="ml-auto"><i class="fas fa-arrow-left"></i> Back</span>
    </a>
</div>
<div class='main-container' style='background-color: rgb(248, 250, 251); color: #111; padding: ; min-height: 85vh;'>
    <div class='container'>
        <hr />
        <div class='table-responsive rounded'>
            <table class='table ' style='border-collapse: collapse; width: 100%; border: 1px solid #ddd; border-radius: 5px;'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Full Name</th>
                        <th>Joined On</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for collateral_manager in collateral_managers %}
                    <tr>
                        <td>{{ collateral_manager.id }}</td>
                        <td>{{ collateral_manager.name }}</td>
                        <td>{{ collateral_manager.created_at }}</td>
                        <td>
                            <a href="{% url 'collateral_manager_details' collateral_manager.id %}" style="text-decoration: none; color: inherit;">
                                <button style="background-color: white; color: #666666; min-width: 100px;">View Details</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
