<!-- quotation_created.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">

        <div class="icon-container">
            <span class="icon"><i class="fas fa-check-circle" style="font-size: 30px; color: #5C6AC4;"></i></span>
            <div class="message-container">
                <h2 class="message-title" style="color: #666666;">Quotation Submitted Successfully!</h2>
                <p class="message-text" style="font-size: 18px; color: #333;">Keep an eye on your email, you'll be notified when the buyer confirms it.</p>
            </div>
    </div>
    
</div>
{% endblock %}
