{% extends 'base.html' %}
{% load static %}

{% block title %}
    Seller Letter of Credits
{% endblock %}

{% block content %}
<div class="row mt-n4 mb-3" style="font-size: 15px; background-color: #001b40; color: white;">
    <ul class="nav nav-tabs " id="myTab" role="tablist">
    
        <li class="nav-item">
            <a class="nav-link" id="quotation-tab" style="color: #d9d9d9; text-decoration: none;">Hello, {{request.user.username}}</a>
    </ul>

</div>
    <div class="container">
        <h5>Letters of Credit from the bank</h5>
        <hr style="background-color: white;height: 10px;border-radius: 30px;">

        {% if letters %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Buyer</th>
                        <th>Issue Date</th>
                        <th>Status</th>
                        <th>LC Document</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for letter in letters %}
                        <tr>
                            <td>{{ letter.buyer }}</td>
                            <td>{{ letter.issue_date }}</td>
                            <td>{{ letter.status }}</td>
                            <td>
                                {% if letter.lc_document %}
                                    <a href="{{ letter.lc_document.url }}">View/Download</a>
                                {% else %}
                                    Not available
                                {% endif %}
                            </td>
                            <td>
                                {% if letter.status == 'sent_to_bank' %}
                                <div class="d-flex">
                                    <form method="POST" action="{% url 'update_letter_of_credit_status' letter.id %}" class="ml-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="approved">
                                        <div class="input-group">
                                            <textarea class="form-control form-control-sm" name="collection_market" placeholder="Market to collect from" style="font-size: 10px;" rows="1" required></textarea>
                                            <input type="date" class="form-control form-control-sm" name="collection_date" required>
                                            <button class="btn btn-sm btn-success btn-smaller" type="submit">Approve</button>
                                        </div>
                                    </form>
                                    <form method="POST" action="{% url 'update_letter_of_credit_status' letter.id %}" class="ml-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="rejected">
                                        <div class="input-group">
                                            <textarea class="form-control form-control-sm" name="reason" placeholder="Reason for rejection" style="font-size: 10px;" rows="1" required></textarea>
                                            <button class="btn btn-sm btn-danger btn-smaller" type="submit">Reject</button>
                                        </div>
                                    </form>
                                </div>
                                
                                
                                   
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No letter of credits available.</p>
        {% endif %}
    </div>
{% endblock %}
