{% extends 'base.html' %}

{% block content %}
<style>
    /* Add this CSS to your stylesheet or <style> tag in HTML */

.container {
    margin: auto;
    width: 60%;
}

.header {
    background-color: #001b42;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.breader-trade-form {
    margin-top: 20px;
}

.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #001b42;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #003366;
}

</style>
    <div class="container-fluid">
        
        <div class="form-container mb-3 col-md-6">
            <div class="header">
                <h4>Breed supply Form</h4>
            </div>
            <form method="post" class="breader-trade-form" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
