<!-- quotation_created.html -->
{% extends 'base.html' %}
{% block title %}
    Form submitted successfully
{% endblock %}
{% block content %}
<div class="container">

        <div class="icon-container">
            <span class="icon"><i class="fas fa-check-circle" style="font-size: 30px; color: #5C6AC4;"></i></span>
            <div class="message-container">
                <h2 class="message-title" style="color: #666666;">Form Submitted Successfully!</h2>
                <div></div> Click <a href="{% url 'create_breader_trade' %}"><span class="" style="color: #001b42;">Here </span></a>  to submit another
                <p></p>
                <p><a href="{% url 'breeder_dashboard' %}">Go back dashboard</a></p>

            </div>
    </div>
    
</div>
{% endblock %}
