{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-cente">
        <div class="col-md-8">
            <div class=" shadow">
                <div class="card-body">
                    <div class="icon-container text-cente">
                        <span class="icon"><i class="fas fa-check-circle" style="font-size: 50px; color: #5C6AC4;"></i></span>
                        <div class="message-container">
                            <h2 class="message-title text-success mb-3">Quotation Confirmed Successfully!</h2>
                            <p class="message-text" style="font-size: 18px; color: #666;">Please communicate with your bank to initiate the Letter of Credit (L.C) process with the seller's bank.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-footer" style="background-color: transparent;">
                <a href="javascript:history.back()">
                    <button class="btn btn-primary">Back</button>
                </a>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
