
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h4 class="" style="color: #001b42;">Quotations list</h4>

    {% if page_obj %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Buyer</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Status</th>
                    <th>Confirmation status</th>
                    <th>View PDF</th>
                </tr>
            </thead>
            <tbody>
                {% for quotation in page_obj %}
                    <tr>
                        <td>{{ quotation.buyer }}</td>
                        <td>{{ quotation.product }}</td>
                        <td>{{ quotation.quantity }}</td>
                        <td>{{ quotation.unit_price }}</td>
                        <td id="{{ quotation.id }}-status">
                            {% if quotation.status_changed %}
                                <span class="badge badge-warning">Status Changed</span>
                            {% endif %}
                            {{ quotation.status }}
                        </td>
                        <td>
                            {% if quotation.confirm %}
                            <span class="badge badge-success">Confirmed</span>
                        {% else %}
                            {% if quotation.rejected %}
                                <span class="badge badge-danger">Rejected</span>
                                {% if quotation.explanation %}
                                    <button class="btn btn-link btn-sm" onclick="showRejectionModal('{{ quotation.explanation }}')">View Message</button>
                                {% endif %}
                            {% else %}
                                <span class="badge badge-warning">Not Confirmed</span>
                            {% endif %}
                        {% endif %}
                        
                        </td>
                        <td style="font-size: 14px;">
                            <a href="{{ quotation.pdf_url }}">View PDF</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination links -->
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fas fa-exclamation-circle"></i> Quotation list is empty.
        </div>
    {% endif %}

    <!-- Rejection Message Modal -->
    <div class="modal fade" id="rejectionModal" tabindex="-1" role="dialog" aria-labelledby="rejectionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rejectionModalLabel">Reason for Rejection </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="rejectionMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <!-- JavaScript for rejectionModal -->
    {% block rejection_modal_scripts %}
    <script>
        function showRejectionModal(message) {
            var modal = $('#rejectionModal');
            modal.find('#rejectionMessage').text(message);
            modal.modal('show');
        }
    </script>
    {% endblock %}
{% endblock %}