{% extends 'base.html' %}
{% load static %}

{% block title %}
    Seller Letter of Credits
{% endblock %}

{% block content %}
<div class="row mt-n4 mb-3" style="font-size: 15px; background-color: #001b40; color: white;">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="quotation-tab" style="color: #d9d9d9; text-decoration: none;">Hello, {{ request.user.username }}</a>
        </li>
    </ul>
</div>

<div class="container">
    <h5>Letters of Credit from the bank</h5>
    <hr style="background-color: white; height: 10px; border-radius: 30px;">

    {% if letters %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Buyer</th>
                    <th>Issue Date</th>
                    <th>Status</th>
                    <th>LC Document</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for letter in letters %}
                    <tr>
                        <td>{{ letter.buyer }}</td>
                        <td>{{ letter.issue_date }}</td>
                        <td>{{ letter.status }}</td>
                        <td>
                            {% if letter.lc_document %}
                                <a href="{{ letter.lc_document.url }}" class="btn btn-link">View/Download</a>
                            {% else %}
                                Not available
                            {% endif %}
                        </td>
                        <td>
                            <form method="POST" action="" class="mt-2">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-primary" type="submit">Send LC to Buyer</button>
                            </form>
                            <br>
                            {% if letter.status == 'sent_to_bank' %}
                            <div class="d-flex flex-column">
                                <div class="input-group mb-2">
                                    <form method="POST" action="{% url 'update_letter_of_credit_status' letter.id %}" class="mr-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="approved">
                                        <textarea class="form-control form-control-sm" name="collection_market" placeholder="Market to collect from" rows="1" required></textarea>
                                        <input type="date" class="form-control form-control-sm" name="collection_date" required>
                                        <button class="btn btn-sm btn-success" type="submit">Approve</button>
                                    </form>
                                </div>
                                <div class="input-group mb-2">
                                    <form method="POST" action="{% url 'update_letter_of_credit_status' letter.id %}" class="mr-2">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="rejected">
                                        <textarea class="form-control form-control-sm" name="reason" placeholder="Reason for rejection" rows="1" required></textarea>
                                        <button class="btn btn-sm btn-danger" type="submit">Reject</button>
                                    </form>
                                </div>
                            </div>
                            
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No letter of credits available.</p>
    {% endif %}
</div>
{% endblock %}