{% extends 'base.html' %}
{% block title %}Registration Success{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header"><h2 style="font-size: 24px;">Registration Successful</h2></div>

                <div class="card-body">
                    <p style="font-size: 18px;">Registration was successful!</p>
                    <p style="font-size: 18px;"><i class="fas fa-envelope-open-text fa-lg" style="margin-right: 10px;color: #001b42;"></i>An email has been sent to the user with instructions on how to reset password.</p>
                </div>
                <p><a href="{% url 'superuser' %}" style="font-size: 18px;"><i class="fas fa-home fa-lg" style="margin-right: 10px;"></i> Back to dashboard</a></p>

            </div>
        </div>
    </div>
</div>
{% endblock %}
