{% extends "base.html" %}
{% load static %}
<!-- Page title  -->
{% block title %}Intellima{% endblock title %}

<!-- Specific Page CSS goes HERE  -->

<!-- Page Heading -->

<!-- Page content  -->
{% block content %}
<!-- Content Row -->

<h3>Welcome</h3>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'static/js/chart.js' %}"></script>

<script>
    // JavaScript code for Supply vs Demand Statistics chart
document.addEventListener("DOMContentLoaded", function() {
    var supplyData = JSON.parse('{{ supply_data|safe }}'); // Parse supply data from backend
    
    var ctx = document.getElementById('supplyDemandChart').getContext('2d'); // Get canvas element
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: supplyData.labels, // Use labels from supplyData
            datasets: [{
                label: "Supply vs Demand",
                lineTension: 0.3,
                backgroundColor: "rgba(78, 115, 223, 0.05)",
                borderColor: "rgba(78, 115, 223, 1)",
                pointRadius: 3,
                pointBackgroundColor: "rgba(78, 115, 223, 1)",
                pointBorderColor: "rgba(78, 115, 223, 1)",
                pointHoverRadius: 3,
                pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                pointHitRadius: 10,
                pointBorderWidth: 2,
                data: supplyData.values, // Use values from supplyData
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true,
                position: 'top'
            }
        }
    });
});

</script>

<script>
// JavaScript code for Products available by category chart
document.addEventListener("DOMContentLoaded", function() {
    var topProductsNames = JSON.parse(document.getElementById("top_products_names").value); // Parse top products names
    var topProductsQuantity = JSON.parse(document.getElementById("top_products_quantity").value); // Parse top products quantity
    
    var ctx = document.getElementById("myPieChart").getContext('2d'); // Get canvas element
    var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: topProductsNames,
            datasets: [{
                data: topProductsQuantity,
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: true,
                position: 'top'
            }
        }
    });
});

</script>
{% endblock javascripts %}