{% extends "base.html" %}

{% load static %}

{% block title %}Intellima home{% endblock title %}

{% block content %}

<style>
  .hero-section {
    position: relative;
    height: 85vh;
    background-size: cover;
    background-position: center;
  }

  .hero-image {
    position: absolute;
    top: 0;
    right: 2rem; 
    width: 400px; 
    height: 400px; 
    background-image: url('static/img/hero3.jpg'); 
    background-size: cover;
    opacity: 0.5;
    background-position: center;
    z-index: 1;
    border-radius: 50%; 
    margin-right: 2rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 2;
  }

  .hero-content {
    position: relative;
    z-index: 3;
    color: white;
    padding: 20px;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .hero-content .btn {
    background-color: white;
    color: blue;
    font-weight: bold;
  }

  .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  }

  /* Media queries for different devices */

  @media only screen and (max-width: 991px) {
    /* Adjustments for medium devices (tablets) */
    .hero-content h1 {
      font-size: 2rem;
    }
  }

  @media only screen and (max-width: 767px) {
    /* Adjustments for small devices (phones) */
    .hero-content h1 {
      font-size: 1.8rem;
    }
  }

  @media only screen and (max-width: 575px) {
    /* Adjustments for extra small devices (smaller phones) */
    .hero-image {
      display: none; /* Hide the hero image on extra small devices */
    }
    .hero-content h1 {
      font-size: 20px;
    }
  }

</style>

<div class="hero-section">
  <div class="hero-image my-5"></div> 

  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row  ">
      <div class="col-md-7 hero-content mt-3">
        <h1 class="my-5 " style="color: black;font-weight: bold;">Innovative platform for automated supply  chains <br /> <span class="my-4" style="color: blue;">Across several portfolios</span></h1>
        <a href="{%url 'login'%}" class="btn px-5 py-3 text-blue mt-3 mt-sm-0">Get Started</a>
      </div>
      <!-- <div class="col-md-6 h-100 clipped" style="min-height: 500px;background-image: url('static/img/hero_img.svg');background-position: center;background-size: cover;"></div> -->

    </div>
  </div>
</div>

{% endblock content %}
