{% extends "base.html" %}

{% load static %}

{% block title %}Intellima Home{% endblock title %}

{% block content %}

<style>
  .hero-section {
    position: relative;
    background: linear-gradient(135deg, #001b42 0%, #4a7cc3 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 0 0 0;
    top: 20px;
    height: 73vh;
  }

  .hero-image {
    position: absolute;
    right: 5%;
    width: 350px;
    height: 350px;
    background-image: url('{% static "img/hero3.jpg" %}');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    opacity: 0.7;
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  .hero-content {
    position: relative;
    z-index: 2;
    text-align: left;
    max-width: 600px;
  }

  .hero-image,
  .hero-content h1,
  .hero-content p,
  .hero-content a {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideIn 2s forwards ease-in-out;
  }

  .hero-content h1 {
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    animation-delay: 0.3s;
  }

  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    animation-delay: 0.6s;
  }

  .hero-content span {
    color: #ffcc00;
  }

  .hero-content a.btn {
    background-color: #ffcc00;
    color: #001b42;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    animation-delay: 0.9s;
  }

  .hero-content a.btn:hover {
    background-color: #e6b800;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 27, 64, 0.5);
    z-index: 1;
    border-radius: 30px 0 0 0;
  }

  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 991px) {
    .hero-content h1 {
      font-size: 2.2rem;
    }
  }

  @media (max-width: 767px) {
    .hero-content h1 {
      font-size: 1.8rem;
    }

    .hero-image {
      width: 250px;
      height: 250px;
    }
  }

  @media (max-width: 575px) {
    .hero-image {
      display: none;
    }

    .hero-content h1 {
    font-weight: 800;
    margin-bottom: 20px;
    animation-delay: 0.3s;
  }

    .hero-content h1 {
      font-size: 1.5rem;
    }

    .hero-content .btn {
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }
</style>

<div class="hero-section mt-n4">
  <div class="overlay"></div>

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7 hero-content">
        <h1>Streamlined Trading Across Borders</h1>
        <p>
          Our system links local sellers, suppliers, and international buyers, enabling seamless trade and ensuring bank payments upon delivery.        </p>
        <a href="{% url 'login' %}" class="btn mt-3">Get Started</a>
    </div>
    
    </div>
  </div>

  <div class="hero-image"></div>
</div>

{% endblock content %}
