<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotation sent</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
            text-align: center;
        }

        h1 {
            color: #001b42;
            background-color: #f9f9f9;
            padding: 10px;
            border-radius: 5px;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <h1>New Quotation Sent!</h1>
    <p>Dear {{ seller_name }},</p>
    <p>You have successfully sent quotation to {{ buyer_name }}.</p>
    <p>You will be notified when the status is changed.
    <hr>
    <p>Quotation Attachment: <a href="{{ quotation_attachment_url }}">Download</a></p>
    <hr>
    <p style="font-size: 13px;">Please don't reply to this email. If you have any questions, contact the seller directly.</p>
    <hr>
    <p>Regards,</p>
    <p>The Intellima Team</p>
    <p>Thank you for your attention.</p>
</body>
</html>
