{% extends 'base.html' %}

{% block content %}
<style>
    h2{
        font-size: 16px;
    }
</style>

<div class="row mt-n4 mb-3" style="font-size: 15px; background-color: #001b40; color: white;">
    <ul class="nav nav-tabs " id="myTab" role="tablist">
       
        <li class="nav-item">
            <a class="nav-link" id="quotation-tab" style="color: #d9d9d9; text-decoration: none;">Register users</a>
    </ul>
    <span class="ml-auto mx-2 mt-2">Hello, {{request.user.username}}</span>

</div>
<hr style="height: 20px;background-color: wheat;border-radius: 30px;">
<main class="container " style="height: 70vh;">
    <div class="row">
        <div class="col-md-3">
            <section id="buyer">
                <div class="card">
                    <div class="card-header">
                        <h2>Buyer Registration</h2>
                    </div>
                    <a href="{% url 'buyer_register' %}" class="card-body card-body-link">
                        <div class="card-body">
                            Click here to register a buyer.
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section id="seller">
                <div class="card">
                    <div class="card-header">
                        <h2>Seller Registration</h2>
                    </div>
                    <a href="{% url 'seller_register' %}" class="card-body card-body-link">
                        <div class="card-body">
                            Click here to register a seller.
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section id="bank">
                <div class="card">
                    <div class="card-header">
                        <h2>Bank Registration</h2>
                    </div>
                    <a href="{% url 'bank_register' %}" class="card-body card-body-link">
                        <div class="card-body">
                            Click here to register bank.
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section id="bank">
                <div class="card">
                    <div class="card-header">
                        <h2>Collateral Manager/h2>
                    </div>
                    <a href="{% url 'collateral_manager_register' %}" class="card-body card-body-link">
                        <div class="card-body">
                            Click here to register collateral manager.
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section id="breeder">
                <div class="card">
                    <div class="card-header">
                        <h2>Breeder Registration</h2>
                    </div>
                    <a href="{% url 'breeder_register' %}" class="card-body card-body-link">
                        <div class="card-body">
                            Click here to register as a breeder.
                        </div>
                    </a>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section id="breeder">
                <div class="card">
                    <div class="card-header">
                        <h2>Inventory Manager Registration</h2>
                    </div>
                    <a href="{% url 'inventory_manager_register' %}" class="card-body card-body-link">
                        <div class="card-body">
                            Click here to register as a inventory manager.
                        </div>
                    </a>
                </div>
            </section>
        </div>

    </div>
</main>
        {% endblock %}

